<div class="expandable">
    <div class="header" (click)="toggle();">
        <span class="material-icons-outlined">
          {{isOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </span>
        <span>{{ title }}</span>
        
    </div>
    <div class="content" [class.open]="isOpen">
        <div>
            <ng-content></ng-content>
        </div>
        <div class="close-footer" (click)="toggle()">
            <span class="text">
                CLOSE
            </span>
            <span class="material-icons-outlined">
                keyboard_arrow_up
            </span>
        </div>
    </div>
</div>