.header {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
  background: var(--primary-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  &:hover{
    color: var(--highlight-color);
  }

  &.open{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.content {
    display: grid;
    border-top: none;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out, padding 0.4s ease-out;
    overflow: hidden;
    padding: 0;
    & > div {
        min-height: 0; 
    }
    
    &:not(.open) .close-footer{
        height: 0;
        padding:0;
        margin-top:0;
        border:  0px solid transparent;
    }   
}

.content.open{
    border: 1px solid var(--accent-color);
    border-top: none;
    grid-template-rows: 1fr;
    padding: 1rem;  
    border-radius: 0 0 4px 4px;
}

.close-footer{
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-height: 0;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: .5rem 0;
    margin-top: 1rem;
    &:hover{
        color: var(--highlight-color);
    }
}