<div class="carousel">
    <div class="track" id="track" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
        @for(image of images; track $index){
            <div class="slide" [class.active]="$index === currentIndex">
                <img [src]="image" alt="Image {{$index + 1}}">
            </div>
        }
    </div>
    <div class="footer">
        <div class="button" (click)="prev()">
            <span class="material-icons-outlined">
                arrow_back
            </span>
        </div>
        <div class="dots">
            @for(image of images; track $index){
                    <span class="dot" [class.active]="$index === currentIndex" (click)="move($index)"></span>
                }
        </div>
        <div class="button"(click)="next()">
            <span class="material-icons-outlined">
                arrow_forward
            </span>
        </div>
    </div>
</div>