<div class="home-container">
    <section class="home-header">
        <div class="top-left">
            <div class="name header1">ETIENNE AMADOR>>></div>
            <div class="title">UX/UI DESIGNER</div>
        </div>
        <div class="top-right">
            <div class="missionId">
                MISSION_ID: EA-2026-POTFOLIO
            </div>
        </div>
        <div class="bottom-left">
            <div class="bodyBold">
                Interaction, Motion, and Cross-Platform Experiences
                Crafting intuitive experiences through detail, motion, and interaction
            </div>
            <div class="captionFont bold">
                “Always learning, refining, and improving through feedback”
            </div>
        </div>
        <div class="bottom-right">
            <div class="about-me subtitle2 custom-button-hover-effect" (click)="navigateToAbout()">
                <span>ABOUT ME <span class="material-icons-outlined">arrow_forward</span></span>
            </div>
        </div>
    </section>
    <section class="divider">
        <div class="divider-text subtitle2">
            Selected_Projects
        </div>
        <div class="divider-icon">
            <svg width="602" height="34" viewBox="0 0 602 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16.6787" cy="16.6787" r="16.1787" stroke="#191717"/>
                <circle cx="16.6787" cy="16.6786" r="7.83933" fill="#ED8514" stroke="#191717"/>
                <path d="M33.5215 16.6786L598.57 16.6786" stroke="#191717"/>
                <rect x="568.687" y="12.6786" width="32.5989" height="8" fill="#191717"/>
                <rect x="553.474" y="12.6786" width="8.69305" height="8" fill="#191717"/>
            </svg>
        </div>
    </section>

    <section class="projects">
        <div class="project-card fade-in-left custom-button-hover-effect-home" [class.visible]="projectsAnimationLoad[1]" (click)="navigateToProject('streaming-platform')">
            <div class="project-id">PROJ_001</div>
            <div class="project-number" [style.display]="projec1Hover ? 'none' : 'block'">01</div>
            <div class="project-plus" [style.display]="projec1Hover ? 'none' : 'block'">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 10H20" stroke="#ED8514" stroke-width="2"/>
                    <path d="M10 0L10 20" stroke="#ED8514" stroke-width="2"/>
                </svg>
            </div>
            <div class="project-diamond" [style.display]="projec1Hover ? 'none' : 'block'">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="10.4853" y="-0.828369" width="16" height="16" rx="2" transform="rotate(45 10.4853 -0.828369)" fill="#ED8514"/>
                </svg>
            </div>
            <div class="project-card-content" (click)="navigateToProject('streaming-platform')" (mouseenter)="projec1Hover = true;" (mouseleave)="projec1Hover = false">
                    <img [style.display]="!projec1Hover ? 'none' : 'block'" src="assets/images/streaming_platform_ux.png"/>
                    <img [style.display]="!projec1Hover ? 'block' : 'none'" src="assets/images/project_filler.png"/>
                <div class="text">
                    <span class="subtitle2">STREAMING PLATFORM UX</span>
                    <span class="caption">Designing a cross-platform streaming experience with a focus on intuitive navigation and interaction across TV and mobile.</span>
                    <span class="caption view-case-study" [class.hovering]="projec1Hover">View Case Study <span class="material-icons-outlined">arrow_forward</span></span>
                </div>
            </div>
        </div>
        <div class="project-card fade-in-left custom-button-hover-effect-home" (click)="navigateToProject('financial-management')" [class.visible]="projectsAnimationLoad[0]" (mouseenter)="project2Hover = true;" (mouseleave)="project2Hover = false"> 
            <div class="project-id">PROJ_002</div>
            <div class="project-number" [style.display]="project2Hover ? 'none' : 'block'">02</div>
            <div class="project-plus" [style.display]="project2Hover ? 'none' : 'block'">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 10H20" stroke="#ED8514" stroke-width="2"/>
                    <path d="M10 0L10 20" stroke="#ED8514" stroke-width="2"/>
                </svg>
            </div>
            <div class="project-diamond" [style.display]="project2Hover ? 'none' : 'block'">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="10.4853" y="-0.828369" width="16" height="16" rx="2" transform="rotate(45 10.4853 -0.828369)" fill="#ED8514"/>
                </svg>
            </div>
            <div class="project-card-content">
                <img [style.display]="project2Hover ? 'block' : 'none'"src="assets/images/financial-management/financial-management-main.png"/>
                <img [style.display]="!project2Hover ? 'block' : 'none'" src="assets/images/project_filler.png"/>

                <div class="text">
                    <span class="subtitle2">FINANCIAL MANAGEMENT APP (MOBILE)</span>
                    <span class="caption">
                        Designing a budgeting experience that prioritizes clarity, confidence, and approachable financial guidance.
                    </span>
                    <div class="caption view-case-study" [class.hovering]="project2Hover">View Case Study <span class="material-icons-outlined">arrow_forward</span></div>
                </div>
            </div>
        </div>
    </section>
</div>