<div class="projects-container">
    <header>
        <div class="icon">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 15H30" stroke="#ED8514" stroke-width="2"/>
            <path d="M15 0L15 30" stroke="#ED8514" stroke-width="2"/>
            <circle cx="15" cy="15" r="3" fill="#F9F6F1" stroke="#ED8514" stroke-width="2"/>
            </svg>
        </div>
        <span class="header2">PROJECT_ARCHIVE</span>
    </header>
    <section class="projects-list">
        <!-- streaming platform -->
        <div class="project-card fade-in-left" [class.visible]="projectsAnimationLoad[0]" (click)="navigateToProject('streaming-platform')"> 
            <header class="project-card-header">
                <div class="left">
                    <span>PROJ_001</span>
                    <span>&nbsp;|&nbsp;</span>
                    <span class="caption">LAUNCH_COMPLETE</span>
                </div>
                <div class="right">
                    <span>DURATION: 2 WEEKS</span>
                </div>
            </header>
            <section class="project-card-content">
                <div class="project-image">
                    <img src="assets/images/streaming_platform_ux.png" alt="Project Image"/>
                </div>
                <div class="project-info">
                    <div class="project-title">
                        <div class="square"></div>
                        <span>UX/UI DESIGN - 2025</span>
                    </div>
                    <div class="project-name">
                        <span class="subtitle1">STREAMING PLATFORM UX</span>
                    </div>
                    <div class="project-description">
                        Designing a cross-platform streaming experience 
                        with a focus on intuitive navigation and interaction across TV and mobile.
                    </div>
                    <div class="project-info-table">
                        <div class="info">
                            <span>ROLE:</span>
                            <span class="bodyBold">LEAD UX/UI DESIGNER</span>
                        </div>
                        <div class="info">
                            <span>TEAM:</span>
                            <span class="bodyBold">SOLO OPERATOR</span>
                        </div>
                        <div class="info">
                            <span>TOOLS:</span>
                            <span class="bodyBold">FIGMA</span>
                        </div>
                    </div>
                    <div class="view-project custom-button-hover-effect" (click)="navigateToProject('streaming-platform')">
                        <span class="text">
                            VIEW CASE FILE 
                        </span>
                        <span class="material-icons-outlined">
                            arrow_forward
                        </span>
                    </div>
                </div>
            </section>
        </div>
        <div class="project-card fade-in-left" [class.visible]="projectsAnimationLoad[1]" >
            <header class="project-card-header">
                <div class="left">
                    <span>PROJ_001</span>
                    <span>&nbsp;|&nbsp;</span>
                    <span class="caption">LAUNCH_COMPLETE</span>
                </div>
                <div class="right">
                    <span>DURATION: 2 WEEKS</span>
                </div>
            </header>
            <section class="project-card-content">
                <div class="project-image">
                    <img src="assets/images/project_filler.png" alt="Project Image"/>
                </div>
                <div class="project-info">
                    <div class="project-title">
                        <div class="square"></div>
                        <span>UX/UI DESIGN - 2025</span>
                    </div>
                    <div class="project-name">
                        <span class="subtitle1">PROJECT TITLE 2</span>
                    </div>
                    <div class="project-description">
                        Designing a cross-platform streaming experience with a focus on intuitive navigation and interaction across TV and mobile.
                    </div>
                    <div class="project-info-table">
                        <div class="info">
                            <span>ROLE:</span>
                            <span class="bodyBold">LEAD UX/UI DESIGNER</span>
                        </div>
                        <div class="info">
                            <span>TEAM:</span>
                            <span class="bodyBold">SOLO OPERATOR</span>
                        </div>
                        <div class="info">
                            <span>TOOLS:</span>
                            <span class="bodyBold">FIGMA</span>
                        </div>
                    </div>
                    <div class="view-project custom-button-hover-effect">
                        <span class="text">
                            VIEW CASE FILE 
                        </span>
                        <span class="material-icons-outlined">
                            arrow_forward
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>