.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-color);

    .app-header {
        position: sticky;
        top: 0;
        z-index: 1000;
        flex-shrink: 0;
        background-color: var(--primary-color);
        display: flex;
        height: 50px;
        padding: 16px 32px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--accent-color);

        .app-header-left {
            height: 100%;

            img {
                height: 100%;
            }
        }

        .app-header-right{
            .app-nav {
                display: flex;
                gap: 1rem;

                .app-nav-link {
                    padding: .25rem .5rem;
                    cursor: pointer;
                    border-bottom: 1px solid transparent;
                }

                .app-nav-link:hover, .app-nav-link.active {
                    border-bottom: 1px solid var(--accent-color);
                }
            }
        }
    }

    .app-content {
        flex: 1;
        padding: 1rem;
        position: relative;
    }

    .app-footer{
        height: 60px;
        padding: 1rem;
        border-top: 1px solid var(--accent-color);
        display: flex;
        justify-content: space-between;
        .footer-left {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: .25rem;
            img{
                height: calc(100% - .25rem);
                width: min-content;
            }
            span {
                font-size: 12px;
            }
        }

        .footer-contact {
            display: flex;
            flex-direction: column;
            gap: .25rem;
        }

        .footer-socials {

            .socials-grid {
                display: flex;
                gap: .25rem;

                .socials-button {
                    cursor: pointer;
                    font-weight: 700;
                    border: 1px solid var(--accent-color);
                    border-radius: 8px;
                    width: min-content;
                    padding: .5rem;

                    &:hover {
                        background-color: var(--accent-color);
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}